/*-------------------------------------------------
GLOBALS CLASSES 
-------------------------------------------------*/
*{padding:0; margin:0;}
body{font-family: 'Droid Serif', serif; /*font-size:12px;*/ color:#000; background:#e1ece7; width: 100%; height: 100%;}
img{border:none;}
h1{ font-size:18px; color:#d13f31; font-family: 'Arial, Geneva, sans-serif', sans-serif; font-weight:normal; text-transform:uppercase;}
h2{ font-size:14px;  font-family: 'Droid Serif', serif; font-weight:normal;}
P{ line-height:20px;}
a{text-decoration:none; color:#1f7872;}
a:hover{color:#d13f31;}
/*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/
.mar-top30{margin-top:30px;}
/*.mar-top20{margin-top:20px;}*/
.mar-right30{margin-right:30px;}
.mar-bottom20{margin-bottom:20px;}
.float-left{ float:left;}
.float-right{ float:left; margin-left: 15px;}
.float-right1{ float: right; }
.clearing { clear:both;}
.panel{ background:#ffffff;}
.titlee h1{text-align: center;}
.content{}
.button a{text-decoration:none; display:block; width:70px; height:30px; background:#1f7872; color:#ffffff; font-family: 'Arial, Geneva, sans-serif', sans-serif; line-height:30px; text-align:center; text-transform:uppercase;}
.button a:hover{ background:#d13f31;}
.page{ width:960px; margin:0 auto;overflow:hidden;}
/*-------------------------------------------------
MENU CLASSES
-------------------------------------------------*/

.menu{margin:0 auto; width:960px; background:#d13f31; height:85px; display: block;
  position: relative;}
.menu ul li{list-style:none; float:left; width:auto;margin:0 auto; }
.menu ul li a{ display:block; height:85px; line-height:85px; padding-left:30px; padding-right:30px; font-size:14px; font-family: 'Arial, Geneva, sans-serif', sans-serif; color:#ffffff; border-right:#d13f31 solid 1px; text-transform:uppercase;}
.menu ul li a:hover{background:#ffffff; color:#d13f31;}
.menu ul li a.active{background:#ffffff; color:#d13f31;}


/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/
.header{margin:0 auto; width:960px; height:120px;}
.logo{width:300px; float:left; line-height:120px;}
.logo h2{ font-size:20px; color:#d13f31;}
.logo h1 span{ color:#1a202c;}
.uscab h2{ color: #ffffff; }

.social{ float:right; margin-top:45px;}
.social ul li{list-style:none; float:left; margin-left:15px;}


.primary-col{ width:960px; overflow:hidden; float:left; }
.primary-col p{ padding-bottom:20px;}
.generic{  width:100%;  }/*было на float:left*/
.transaction{ float:left; width:80%;}
.generic .panel1{ padding:20px 20px 20px 20px; background-color: #ffffff;}
.generic .panel{ padding:30px 30px 30px 30px;}
.generic .title h1{ margin: 10px; color: black; font-size: 25px; font-weight: 400;}
.generic .content{overflow:hidden;}
.generic .uscontent h2{padding-bottom:15px; color:#ffffff;}
.generic .content h2{ padding-bottom:50px;}
.titlewelc{text-align: center;}
.titleinfo{text-align: left; margin: 20px 0px 30px 10px;}
.panel1 .welccontent {margin: 20px; text-align: center; }
.panel1 .welccontent h2{ color: green; font-size: 20px; }
.panel1 .welccontent p{margin-top: 10px; color: red; }

.panel .contentinfo {margin-left: 30px; text-align: left; }
.panel .contentinfo h2{ color: #000; font-size: 15px; }
.panel {text-align: center;}


.block{width:310px;}
.block .panel {padding:30px 30px 30px 30px;}
.block .title h1{ padding-bottom:20px;}
.block .content img{ padding-bottom:20px;}
.block .content h2{ padding-bottom:10px;}
.block .content p{ padding-bottom:20px;}

.transaction{margin-bottom: 10px;}

.indent{
	height: 100px;
}


/*-------------------------------------------------
CONTACT FORM CLASSS
-------------------------------------------------*/

.contact-form { background:#f4f8f6; padding:30px; width:440px; float:left;}
.contact-form label {display: block; padding:10px 0 10px 0;}
.contact-form label span {display: block; color:#939191;font-size:14px; float:left; width:80px; text-align:left; padding:5px 20px 0 0;}
.contact-form .input_text {padding:10px 10px;width:318px;background:#ffffff;border:#e1ece7 1px solid; color:#939191;}
.contact-form .message{padding:10px 10px;width:318px; background:#ffffff; border:#e1ece7 1px solid;overflow:hidden;height:150px; color:#939191; font-size:14px;}
.contact-form .button{padding:8px;background:#1f7872; color:#ffffff; text-transform:uppercase; font-family:'Arial, Geneva, sans-serif', sans-serif;border:0px solid;margin-left:100px;margin-top:20px;}
.address { float:left; width:370px; margin-left:30px;}
.address .panel { border:none; color:#9b9e9a}
.address .panel .title h1 {  color:#d13f31; padding-bottom:10px;}
.address .panel .content p span { color:#9b9e9a;}


/*-------------------------------------------------
FOOTER CLASSES
-------------------------------------------------*/
.primary-footer{  overflow:hidden; margin:0 auto; width: 960px; }
.footer-wrap{ background:#e1ece7; overflow:hidden; height: 120px; /*padding-top:25px; margin-top:25px; padding-bottom:25px;*/ }
.footer{width:960px; margin:0 auto;}
.footer .panel{float:left; background:none; width:300px; }
.footer .panel .title h1{ color:#ffffff;}
.footer .panel .content{padding-top:25px;}
.footer .panel .content p{ color:#435059;}
.copyright-wrap{ background:#1a202c; overflow:hidden; padding:40px 0px 40px 0px; position: absolute;}
.copyright-wrap .panel{width:960px; margin:0 auto; background:none;}
.copyright-wrap .panel .content p{ color:#ffffff; text-align:center; font-size:12px;}
.copyright-wrap .panel .content p a{ text-decoration:none; color:#ffffff;}
.copyright-wrap .panel .content p a:hover{ color:#1a202c;}



.tcalInput {background: url('/template/images/kalendar/cal.gif') 100% 50% no-repeat;padding-right: 20px;cursor: pointer;}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {background-image: url('/template/images/kalendar/no_cal.gif');}
/* container of calendar's pop-up */

/*-------------------------------------------------
KALENDAR STYLES
-------------------------------------------------*/
#tcal {position: absolute;visibility: hidden;z-index: 100;width: 170px;background-color: white;margin-top: 2px;padding: 0 2px 2px 2px;border: 1px solid silver;-moz-box-shadow: 3px 3px 4px silver;-webkit-box-shadow: 3px 3px 4px silver;box-shadow: 3px 3px 4px silver;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='whil')";filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');}

/* table containing navigation and current month */
#tcalControls {
	border-collapse: collapse;
	border: 0;
	width: 100%;
}
#tcalControls td {border-collapse: collapse;border: 0;padding: 0;width: 16px;background-position: 50% 50%;background-repeat: no-repeat;cursor: pointer;}
#tcalControls th {border-collapse: collapse;border: 0;padding: 0;line-height: 25px;font-size: 10px;text-align: center;font-family: Tahoma, Geneva, sans-serif;font-weight: bold;white-space: nowrap;}
#tcalPrevYear { background-image: url('/template/images/kalendar/prev_year.gif'); }
#tcalPrevMonth { background-image: url('/template/images/kalendar/prev_mon.gif'); }
#tcalNextMonth { background-image: url('/template/images/kalendar/next_mon.gif'); }
#tcalNextYear { background-image: url('/template/images/kalendar/next_year.gif'); }

/* table containing week days header and calendar grid */
#tcalGrid {border-collapse: collapse;border: 1px solid silver;width: 100%;}
#tcalGrid th {border: 1px solid silver;border-collapse: collapse;padding: 3px 0;text-align: center;font-family: Tahoma, Geneva, sans-serif;font-size: 10px;background-color: gray;color: white;}
#tcalGrid td {border: 0;border-collapse: collapse;padding: 2px 0;text-align: center;font-family: Tahoma, Geneva, sans-serif;width: 14%;font-size: 11px;cursor: pointer;}		
#tcalGrid td.tcalOtherMonth { color: silver; }
#tcalGrid td.tcalWeekend { background-color: #ACD6F5; }
#tcalGrid td.tcalToday { border: 1px solid red; }
#tcalGrid td.tcalSelected { background-color: #FFB3BE; }







/*-------------------------------------------------
USER CABINET
-------------------------------------------------*/
.uscontent{display: inline-block;}



.uscontent .uscab{width:calc(33.33% - 40px);height: 100px; float: left;background:#1a202c;margin: 10px; padding: 10px;}




.uscontent .uscab h2{text-align: center;margin-top: 41px;font-size: 18px;	}
.uscontent .uscab a{color: #ffffff;width:100%;height:100%;}
.uscontent .uscab:hover {background-color:#d13f31; }


/*кабинет для админа*/
.uscontent1{display: inline-block;}

.uscontent1 .uscab1{width: 20%;height: 100px; float: left;background:#1a202c;margin: 10px; padding: 10px;}
.uscontent1 .uscab1 h2{text-align: center;margin-top: 38px;font-size: 18px; }
.uscontent1 .uscab1 a{color: #ffffff;width:100%;height:100%;}
.uscontent1 .uscab1:hover {background-color:#d13f31; }


/*-------------------------------------------------
LOFIN PAGE STYLE
-------------------------------------------------*/

.logcontent .loglink{width:calc(33.33% - 40px);height: 100px; float: left;background:#1a202c;margin: 10px; padding: 10px;text-align: center;	}

.generic .panellog{height: 300px;}
.generic .panellog a{color: #ffffff;}



/*-------------------------------------------------
LOFIN INPUT
-------------------------------------------------*/
div .errorlog{
	height: 100px;
}

/*блок для полей редактирования*/
.edit{border: 1px solid black;width: 43.5%;display: inline-block;}
.edit form{padding: 20px;}



/*-------------------------------------------------
CLASS ONLY FOR LOGIN USER, ADMIN, ADMIN2
-------------------------------------------------*/
.formlog {position: relative;width: 350px;height: 180px;margin: auto;background: #1a202c;padding: 20px 22px;border: 1px solid;border-radius: 6px;border-left-color: rgba(255,255,255,.4);border-bottom-color: rgba(60,60,60,.4);border-right-color: rgba(60,60,60,.4);}

.formlog input {width: 313px;border: 1px solid;border-bottom-color: rgba(255,255,255,.5);border-right-color: rgba(60,60,60,.35);border-top-color: rgba(60,60,60,.35);border-left-color: rgba(80,80,80,.45);background-color: #202431;padding: 8px 24px 8px 10px;letter-spacing: .075em;color: #ffffff;text-shadow: 0 1px 0 rgba(0,0,0,.1);margin-bottom: 19px;}



.formlog .buttomlog {width: 348px;height: 50px;margin-top: 20px;color: #ffffff;text-shadow: 0 1px 0 #133d3e;font-family: 'Arial, Geneva, sans-serif';font-size: 15pt;border-radius: 6px;background: rgba(0,0,0,.2);border-top-color: #9fb5b5;border-left-color: #608586;border-bottom-color: #1b4849;border-right-color: #1e4d4e;cursor: pointer;}

.formlog .buttomlog:active{background-color:green;}

/*-------------------------------------------------
CLASS ONLY FOR LOGIN ***END***
-------------------------------------------------*/




/*-------------------------------------------------
CLASS ONLY FOR OPERATION
-------------------------------------------------*/
.formlog1 {position: relative;display: inline-block;width: 350px;padding: 20px 22px;border: 1px solid;border-left-color: rgba(255,255,255,.4);border-bottom-color: rgba(60,60,60,.4);border-right-color: rgba(60,60,60,.4);}

.formlog1 input {width: 313px;border: 1px solid;border-bottom-color: rgba(255,255,255,.5);border-right-color: rgba(60,60,60,.35);border-top-color: rgba(60,60,60,.35);border-left-color: rgba(80,80,80,.45);background-color: #1a202c;padding: 8px 24px 8px 10px;letter-spacing: .075em;color: #ffffff;text-shadow: 0 1px 0 rgba(0,0,0,.1);margin-bottom: 19px;}


.buttomlog1:active{color: #ffffff;background-color: green;}



/*-------------------------------------------------
CLASS ONLY FOR OPERATION ***END***
-------------------------------------------------*/



.formcal .tcal{width: 120px;border: 1px solid;border-radius: 1px;display: inline-block;border-bottom-color: rgba(255,255,255,.5);border-right-color: rgba(60,60,60,.35);border-top-color: rgba(60,60,60,.35);border-left-color: rgba(80,80,80,.45);background-color: #1a202c;padding: 8px 24px 8px 10px;letter-spacing: .075em;color: #ffffff;text-shadow: 0 1px 0 rgba(0,0,0,.1);margin-bottom: 19px;}

.formcal .buttcal{width: 100px;background-color: #1a202c;color: #ffffff;padding: 8px 24px 8px 10px;border: 1px solid;cursor: pointer;display: inline-block;}


::-webkit-input-placeholder { color: #ccc; text-transform: uppercase; }
::-moz-placeholder { color: #ccc; text-transform: uppercase; }
:-ms-input-placeholder { color: #ccc; text-transform: uppercase; }


/*кнопка submit для изменения личных данных*/
.editdata .editbutt {width: 348px; float: left;	border: 1px solid;border-bottom-color: rgba(255,255,255,.5);border-right-color: rgba(60,60,60,.35);border-top-color: rgba(60,60,60,.35);border-left-color: rgba(80,80,80,.45);background-color:green;padding: 8px 24px 8px 10px;letter-spacing: .075em;color: #fff;text-shadow: 0 1px 0 rgba(0,0,0,.1);margin-bottom: 19px;cursor: pointer;}


.buttomlog {width: 348px;height: 50px; margin-top: 20px;color: #ffffff;text-shadow: 0 1px 0 #133d3e;font-family: 'Arial, Geneva, sans-serif';font-size: 15pt;background: rgba(0,0,0,.2);border-top-color: #9fb5b5;border-left-color: #608586;border-bottom-color: #1b4849;border-right-color: #1e4d4e;cursor: pointer;}

/*-------------------------------------------------
DATA INPUT
-------------------------------------------------*/


.error{display: inline-block;text-align: center;}




li{list-style-type: none;}
li h3{font-size: 15px;color: red;}
.notokimg{width: 15px;height: 15px;}

.panel a{text-align: center;}

.noterror{display: inline-block;text-align: left;margin-left: -10px;margin-bottom: 10px;}
.noterror span{color: green;font-size: 15px;}
.okimg{width: 15px;height: 15px;}
/*You can choose next one:*/
.choose{font-size: 15px;}

.page .notransact{height: 100px;width: 400px;}



.editdata {position: relative;display: inline-block;width: 350px;padding: 20px 22px;border-left-color: rgba(255,255,255,.4);border-bottom-color: rgba(60,60,60,.4);border-right-color: rgba(60,60,60,.4);}

.editdata input {width: 313px;border: 1px solid;border-bottom-color: rgba(255,255,255,.5);border-right-color: rgba(60,60,60,.35);border-top-color: rgba(60,60,60,.35);border-left-color: rgba(80,80,80,.45);background-color: #1a202c;padding: 8px 24px 8px 10px;letter-spacing: .075em;color: #ffffff;text-shadow: 0 1px 0 rgba(0,0,0,.1);margin-bottom: 19px;}


.accou div{float: left;margin-bottom: 10px;color: green;}
.accou .accoubal{padding-left: 290px;}
.accou .accoulim{padding-left: 40px;}
.accou .accoumena{padding-left: 40px;}

.acco1{padding: 10px;font-size: 25px;border-spacing: 25px 0px;}
.acco1 td{padding: 10px;}







/*////////////////////////////////////////
//// LIST OF TRANSACTION button WAIT ////
////////////////////////////////////////*/



.dropcontainer_demo2 {position:relative;font-size: 16px;color: #777;} 

.trigger_demo2 {color: #777;padding: 6px;font-size: 16px;width: 170px;background: #fff url(/template/images/newimages/select-arrow-open.png) 98% center no-repeat;display: block;border: 1px solid #ccc;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease; transition: all 0.5s ease;}

.trigger_demo2:hover {color: #777;background: #f5f5f5 url(/template/images/newimages/select-arrow-open.png) 98% center no-repeat;}

.activetrigger_demo2 {color: #777;padding: 10px;font-size: 16px;width: 170px;background: #f5f5f5 url(/template/images/newimages/select-arrow-close.png) 98% center no-repeat;display: block;border: 1px solid #ccc;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.activetrigger_demo2:hover {background: #f5f5f5 url(/template/images/newimages/select-arrow-close.png) 98% center no-repeat;color: #777;}

.activetrigger_demo2:active {background: #f5f5f5 url(/template/images/newimages/select-arrow-close.png) 98% center no-repeat;color: #777;}

.dropcontainer_demo2 ul {font-size: 16px;border: 1px solid #ccc;border-top: none;background: #fff;list-style-type: none; padding: 10px;margin: 0;width: 170px; z-index: 100;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.dropcontainer_demo2 ul li {padding: 5px;-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}

.dropcontainer_demo2 ul li:hover {background: red;outline: none;}

.dropcontainer_demo2 ul li:first-child {display: none;}

.dropcontainer_demo2 ul li:last-child {border-bottom: none;}

.dropdownhidden_demo2 {display: none;}

.dropdownvisible_demo2 {height: auto;}

.dropdownvisible_demo2 {overflow-y: scroll;}

.statuscal{display: inline-block;}

.statuscal .cal{ float: left;}




/*КНОПКИ И ПОЛЯ ДЛЯ ПОДТВЕРЖДЕНИЯ ТРАНЗАКЦИЙ*/

.buttonac{width: 80px;border: 1px solid;background-color: green;padding: 10px 10px;letter-spacing: .075em;color: #ffffff;text-shadow: 0 1px 0 rgba(0,0,0,.1);margin-bottom: 19px;cursor: pointer;}
.buttondec{width: 80px;border: 1px solid;background-color: red;padding: 10px 10px;letter-spacing: .075em;color: #ffffff;text-shadow: 0 1px 0 rgba(0,0,0,.1);margin-bottom: 19px;cursor: pointer;  }

.tranbumb{width: 158px;border: 1px solid;background-color: #ffffff;padding: 10px 10px;letter-spacing: .075em;color: black;text-shadow: 0 1px 0 rgba(0,0,0,.1);margin-bottom: 19px;}

.aboutoperation{color:green;text-align: left;font-size: 18px;}
a .backbutt{width: 25px; height: 25px}